*{
    margin: 0;
    padding: 0;
}

body{
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    color: #4d4d4d;
    background: #fff;
}

nav{
    background-color: white;
    box-shadow: 5px 5px 5px rgb(218, 218, 218);
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 80px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #4d4d4d;
}

nav a:hover{
    background-color: #f0f0f0;
}

nav li:first-child{
    margin-right: auto;
    padding: 20px 0 0 40px;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.144);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
}

/* INDEX PAGE */
.main_container{
    position: relative;
}

.main_container img{
    max-width: 100%;
}
.button{
    position: absolute;
    bottom: -25px;
    right: 10%;
    padding: 20px 40px;
    background-color: rgb(250, 154, 154);
    border-radius: 5px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: x-large;
}

h1{
    margin: 1em 0 0 1.5em;
}
.new {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding: .8em 3em;
}
.p1, .p2, .p3{
    width: 90%;
    position: relative;
    text-align: center;
    color: white;
}
.stationaries, .tote, .waterbottle{
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 20px;
    color: #fff;
    padding: 10px 20px;
    background-color: rgba(250, 154, 154, 0.836);
    border-radius: 5px;
    border: none;
}
.new img{
    border-radius: 3%;
}

.projects{
    display: block;
    overflow: auto;
    position: relative;
    padding: .8em 3em;
    height: 100%;
    max-width: 100%;
}
.projects img{
    position: relative;
    float: left;
    width: 60%;
}
#projects_caption{
    position: relative;
    float: right;
    width: 30%;
    margin-top: 25%;
    right: 60px;
}

.images{
    position: relative;
    padding: 3em 3em 1em 3em;
    display: flexbox;
    justify-content: space-between;
}
.images img{
    width: 30%;
    padding: 0 20px 0 0;
}
.images_caption{
    padding: 0 3em 5em 3em;
}

footer{
    display: block;
    padding: 1em 5em 2em 2em;
    background-color: #f7e5e1;
}
footer p{
    padding-top: 6em;
    font-size: 10px;
    text-decoration: none;
}

/* INDEX PAGE MEDIA QUERY*/
@media screen and (max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }

    h1{
        font-size: x-large;
    }

    .button{
        bottom: -20px;
        padding: 10px 20px;
        font-size: large;
    }

    .new {
        padding: .5em 2em;
    }

    .stationaries, .tote, .waterbottle{
        left: 10px;
        font-size: 14px;
        padding: 5px 10px;
        border-radius: 2px;
    }

    .projects{
        padding: .8em 2em;
    }

    #projects_caption{
        font-size: small;
    }

    .images{
        padding: 3em 3em 0 3em;
    }

    .images img{
        width: 25%;
    }

    .images_caption{
        font-size: small;
        padding: 0 3em 3em 3em;
    }

    footer{
        padding: 0 5em 2em 2em;
        background-color: #ffe5df;
    }
}

/* INDEX PAGE MEDIA QUERY*/
@media screen and (max-width: 400px){
    .sidebar{
        width: 100%;
    }

    nav li{
        height: 50px;
    }

    nav li:first-child{
        margin-right: auto;
        padding: 10px 0 0 20px;
    }

    .logo{
        width: 20%;
    }

    h1{
        font-size: medium;
    }

    .button{
        bottom: -10px;
        padding: 5px 10px;
        font-size: small;
    }

    .new {
        padding: .5em 1em;
    }

    .stationaries, .tote, .waterbottle{
        bottom: 10px;
        left: 5px;
        font-size: 10px;
        padding: 3px 5px;
        border-radius: 2px;
    }

    .projects{
        padding: .5em 1em;
    }

    #projects_caption{
        font-size: 8px;
        margin-top: 11%;
        right: 40px;
    }

    .images{
        padding: 2em 1em 0 1em;
    }

    .images img{
        width: 25%;
        padding: 0 25px 0 0;
    }

    .images_caption{
        font-size: 8px;
        padding: 0 1em 3em 1em;
    }

    footer{
        padding: 0 5em 2em 1em;
        background-color: #ffe5df;
    }

    footer p{
        font-size: 6px;
    }
}

/* MERCHANDISE */
.wrapper{
    width: 100%;
    overflow-x: hidden;
}

.wrapper .container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
}

.category-filter{
    margin-top: 10px;
}

.title{
    margin-bottom: 10px;
}

.title h1{
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 1px;
}

.filter-btns{
    text-align: center;
}

.filter-btn{
    background: none;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    display: inline-block;
    margin: 10px 30px;
    font-size: 16px;
    color: #4d4d4d;
    font-weight: 600;
    letter-spacing: 2px;
    position: relative;
    transition: all .2s ease-in-out;
}

.filter-btn::after{
    content: "";
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: rgb(250, 154, 154);
    transition: all .2s ease-in-out;
}

.filter-btn:hover{
    color: rgb(250, 154, 154);
}

.filter-btn:hover::after{
    width: 100%;
}

.active-btn{
    color: rgb(0, 0, 0);
}

.active-btn::after{
    width: 100%;
}

.filter-items{
    margin-top: 40px;
}

.item-img{
    position: relative;
    overflow: hidden;
}

.item-img img{
    width: 100%;
    display: block;
    transition: transform .2s ease-in-out;
}

.filter-item:hover .item-img img{
    transform: scale(1.1);
}

.item-info{
    padding: 14px 0;
}

.item-info p{
    font-weight: 600;
    font-size: 17px;
    margin-top: 8px;
}

.item-info .price{
    font-size: 17px;
}

.add-btn{
    display: inline-block;
    margin-top: 20px;
    background-color: rgb(250, 154, 154);
    text-decoration: none;
    color: white;
    padding: 8px 20px;
    border-radius: 3px;
}

.add-btn:hover{
    background-color: white;
    color: rgb(250, 154, 154);
    border: 2px solid rgb(250, 154, 154);
}

.filter-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.filter-item{
    width: 100%;
    margin-bottom: 40px;
}

/* MERCHANDISE MEDIA QUERY */
@media screen and (min-width: 800px){
    .filter-item{
        width: calc(50% - 30px);
    }
}

@media screen and (max-width: 400px){
    .title{
        margin-bottom: 20px;
    }
    .title h1{
        font-size: 24px;
    }
    .filter-btn{
        margin: 5px 10px;
        font-size: 12px;
    }
    .item-info p{
        font-size: 14px;
        margin-top: 6px;
    }
    .item-info .price{
        font-size: 12px;
    }
    .add-btn{
        margin-top: 7px;
        padding: 4px 10px;
        border-radius: 3px;
    }
}

/* PORTFOLIO */

.portfolio{
    width: 100%;
    margin-top: 2px;
    display: flex;
    justify-content: space- space-between;
    background-color: rgb(249, 228, 220);
}

.portfolio-caption{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    margin: 3em 2em 2em 6em;
}

.portfolio h1{
    margin-bottom: .5em;
}

.portfolio img{
    margin-top: 30px;
    width: 20%;
}

.portfolio-container{
    padding: 4rem;
}

.portfolio-container h1{
    position: relative;
    padding: 1em 0 1em 7%;
}

.slider-wrapper{
    position: relative;
    max-width: 80%;
    margin: 0 auto;
}

.slider{
    display: flex;
    aspect-ratio: 14 / 9;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 .5rem 2rem -0.50rem hsla(0, 0%,0%, 0.25);
    border-radius: 2%;
}

.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}

.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 75%;
    transition: opacity ease 250ms;
}

.slider-nav a:hover{
    opacity: 1;
}

/* PORTFOLIO MEDIA QUERY */
@media screen and (max-width: 400px){
    .portfolio img{
        display: none;
    }
    .portfolio-caption{
        width: 70%;
        margin: 2em 1em 2em 2em;
    }
    
    .portfolio h1{
        font-size: large;
    }

    .portfolio p{
        font-size: x-small;
    }

    .portfolio-container{
        padding: 1rem;
    }
    
    .portfolio-container h1{
        font-size: large;
        padding: 1em 0 .3em 6%;
    }
    
    .slider-wrapper{
        max-width: 90%;
    }
}

/* FAQs */
section{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 3rem;
    margin: 2rem 0;
}

.faq{
    max-width: 700px;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
    cursor: pointer;
}

.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question h3{
    font-size: 1.5rem;
}

.answer{
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
}

.answer p{
    padding-top: 1rem;
    line-height: 1.6;
    font-size: 1.2rem;
}

.faq.active .answer{
    max-height: 300px;
}

.faq.active svg{
    transform: rotate(180deg);
}

svg{
    transition: transform 0.5s ease-in;
}

/* FAQs  MEDIA QUERY*/
@media screen and (max-width: 400px){
    .title{
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: .5rem;
    }
    .faq{
        margin-top: 2rem;
    }
    .question h3{
        font-size: 1rem;
    }
    .answer p{
        padding-top: 1rem;
        line-height: 1.6;
        font-size: .8rem;
    }
}

/* SERVICES */
.services-container{
    max-width: 100%;
    height: 100vh;
    padding: 0 8%;
}

.services-container h1{
    text-align: center;
    padding-top: 5%;
    margin-bottom: 5%;
    position: relative;
}

.services-container h1::after{
    content:  '';
    background: #ffc4b7;
    width: 120px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px
}

.service{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: transparent;
    transition: transform 0.5s;
}

.service img{
    height: 40px;
    margin-bottom: 10px;
}

/* https://isotropic.co/tool/hex-color-to-css-filter/ */
.service .icon{
    filter: invert(84%) sepia(16%) saturate(986%) hue-rotate(313deg) brightness(96%) contrast(111%);
}

.service h2{
    margin-bottom: 8px;
}

.service:hover{
    background: #ffc4b7;
    color: #fff;
    transform: scale(1.05);
}

.service:hover .icon{
    filter: invert(100%) sepia(16%) saturate(7465%) hue-rotate(180deg) brightness(109%) contrast(105%);
}

/* SERVICES MEDIA QUERY */
@media screen and (max-width: 800px){
    .services-container h1{
        margin-bottom: 25px;
        font-size: larger;
    }
    .service{
        padding: 7px 20px;
        border-radius: 10px;
        font-size: 12px;

    }
    .service img{
        height: 15px;
        margin-bottom: 5px;
    }
}

@media screen and (max-width: 400px){
    .services-container h1{
        margin-bottom: 50px;
        font-size: larger;
    }
    .service{
        padding: 10px 20px;
        border-radius: 10px;
        font-size: 12px;

    }
    .service img{
        height: 20px;
        margin-bottom: 5px;
    }
}
